.taskBlock{
    display: inline-block;
    /* width: 300px; */
    /* height: 300px; */
    margin: 20px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}
.taskBlock > input{

}

.block {
    color: red;
}

.text {
    font-size: 15px;
}